@model rent.Models.Rent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.top_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.top_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sub_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sub_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthly_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthly_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor)
        </dd>

        @*租屋類型*@
        <dt>
            @Html.DisplayNameFor(model => model.property_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.property_type)
        </dd>

        @*房屋類型*@
        <dt>
            @Html.DisplayNameFor(model => model.building_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.building_type)
        </dd>

        @*押金*@
        <dt>
            @Html.DisplayNameFor(model => model.deposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deposit)
        </dd>

        @*額外網路費*@
        <dt>
            @Html.DisplayNameFor(model => model.additional_fee_internet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.additional_fee_internet)
        </dd>

        @*額外水費*@
        <dt>
            @Html.DisplayNameFor(model => model.additional_fee_water)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.additional_fee_water)
        </dd>

        @*可否養寵物*@
        <dt>
            @Html.DisplayNameFor(model => model.allow_pet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allow_pet)
        </dd>

        @*可否煮飯*@
        <dt>
            @Html.DisplayNameFor(model => model.can_cook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.can_cook)
        </dd>

        @*有無冰箱*@
        <dt>
            @Html.DisplayNameFor(model => model.facilities_refrigerator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facilities_refrigerator)
        </dd>

        @*性別*@
        <dt>
            @Html.DisplayNameFor(model => model.gender_restriction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender_restriction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
